.container {
  max-width: 1080px;
  margin: 0 auto;
}

.card {
  border: 1px solid black;
  display: inline-block;
  position: relative;
}

.card img {
  width: 100%;
}

.card .info {
  padding: 1em;
}

.card .info dl {
  margin: 0;
}

.card .info dt,
.card .info dd {
  margin: 0;
  display: inline-block;
}

.card .heart {
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.liked {
  fill: red;
}

.todo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo ul li {
  background-color: lightgrey;
  margin-bottom: .15em;
  padding: .25em;
}

.todo ul li.done {
  text-decoration: line-through;
  background-color: darkgrey;
}

.groceries ul {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.groceries ul li {
  line-height: 1.75;
}

.groceries ul li span {
  vertical-align: middle;
  font-size: .85rem
}